*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  height: 100%;
  width: 100%;
  background-color: black;
}

.parent{
  height: 100vh;
  width: 100vw;
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
}

.card{
  background-color: rgb(245, 240, 243);
  border-radius: 18px;
  height: 340px;
  width: 274px;
  margin: 21px;
  padding: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -81px;
}

.top img{
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: 1px solid grey;
  padding: 3px;
}

.top button{
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid grey;
  padding: 3px 8px;
  gap: 2px;
  font-size: 13px;
}


.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid grey;
  padding-top: 10px;
}

.bottom button{
  background-color: black;
  color: white;
  border: none;
  padding: 7px 13px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
}

.bottom span{
  color: rgba(128, 128, 128, 0.845);
  font-size: 14px;
}

.center h3{
  font-weight: 500;
  font-size: 19px;
}

.center h2{
  font-weight: 600;
  font-size: 20px;
  margin: 6px 0;
}

.center h3 span{
  font-weight: 400;
  color: rgb(128, 128, 128);
  font-size: 13px;
}

.center .tag{
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.center .tag h4{
  font-weight: 500;
  font-size: 13px;
  background-color: rgb(173, 170, 170);
  color: black;
  border-radius: 4px;
  padding: 4px 9px;
}